body {
    margin:0;
    padding:0;
    color: black;
    background: #FFFFFF;
    font-size: 18px;
    Font-family: ”Times New Roman” , Times, serif;/*difference*/
   }

   header, nav{
    display: none;  /*difference*/
   }
 
   P, h2,h3{
    padding-left:0px; /*difference*/
   }
   section {
    float: right;
    width:80%;
    background:#FFFFFF;
    height: auto;
   }
   figure.gallery{
    margin:20px;
    border: 1px solid #ccc;
    float: left;
    width: 40%;
    height: 500px;
   }
   figure.gallery img {
    width: 100%;
    height: auto;
   }
  
   img.centered { 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    border: 2px dotted rgb(104, 107, 104);
    }   
    p.centered { 
      margin-left: auto; 
     margin-right: auto; width: 10em; 

    } 
    aside{
    display: none;/*difference*/
    }
    footer {
        clear: both;    
        width:100% 
    }
    footer p {
        margin:0;
        text-align:center;
        font-size:14px;
   }
   #printnotice {
    display: block;
    border-style: dotted;
   }

   